$main: rgba(255,255,255,1);
$home: rgba(0,0,0,0);
$primair: rgba(0,0,0,0);
$secundair: rgba(0,0,0,0);
$tertiair: rgba(0,0,0,0);
$quartaire: rgba(0,0,0,0);

$header: rgba(0,128,0,1);
$header-hover: rgba(220,220,220,0.5);
$navbar: 3.5rem;

$footer: rgba(0,128,0,1);
$footerbar: 3.5rem;

$text: rgba(0,0,0,1);
$text-hover: rgba(255,255,0,1);
$textsize: '16px';
$iconsize: '24px';

$white: rgb(255,255,255);
$light_grey: rgb(192,192,192);
$grey: rgb(128,128,128);
$dark_grey: rgb(64,64,64);
$black: rgb(0,0,0);